<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear nou Service</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Nou Service</h2>
<form action="#" th:action="@{/service/add}"
      th:object="${service}" method="post">
    <table>
        <tr>
            <td><label>Code</label></td>
            <td><input type="text" th:field="*{code}" /></td>
        </tr>
        <tr>
            <td><label>Type</label></td>
            <td><input type="text" th:field="*{type}" /></td>
        </tr>
        <tr>
            <td><label>Description</label></td>
            <td><input type="text" th:field="*{description}" /></td>
        </tr>
        <tr>
            <td><label>Date</label></td>
            <td><input type="date" th:field="*{initial_Date}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Afegeix Service" /></td>
        </tr>
    </table>
</form>
</body>
</html>