<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Gestionar service</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
<h1>Lista de service</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Codigo del Servicio</th>
        <th>Tipo de Servicio</th>
        <th>Descripcion</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="service: ${service}">
        <td th:text="${service.code}"></td>
        <td th:text="${service.type_of_service}"></td>
        <td th:text="${service.description}"></td>
        <td><a th:href="@{/service/update/{code}(code=${service.code})}" class="btn btn-warning" role="button">Editar</a>
        </td>
        <td><a th:href="@{/service/delete/{code}(code=${service.code})}" class="btn btn-danger" role="button">Borrar</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add" class="btn btn-success" role="button">Añadir servicios</a>
</div>
</body>
</html>