<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Crear nou Service</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
<h2>Modificar Service</h2>
<form action="#" th:action="@{/service/update}"
      th:object="${service}" method="post">
    <table>
        <tr>
            <td><label>Codigo del Servicio</label></td>
            <td><input type="text" th:field="*{code}" /></td>
        </tr>
        <tr>
            <td><label>Tipo</label></td>
            <td> <select class="form_control" type="text" th:field="*{type}">
                <!--option value="No seleccionat">Selecciona el gènere</option-->
                <option th:each="typevalue : ${typeList}"
                        th:value="${typevalue}"
                        th:text="${typevalue}"></option>
            </select>
            </td>
        </tr>
        <tr>
            <td><label>Descripcion</label></td>
            <td><input type="text" th:field="*{description}" /></td>
        </tr>
        <tr>
            <td><label>Fecha de creacion</label></td>
            <td><input type="text" th:field="*{initial_Date}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Modifica Service" /></td>
        </tr>
    </table>
</form>
</div>
</body>
</html>