<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Actualitza Service</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h2>Modificar Servicio</h2>
        <form class="form-horizontal" action="#" th:action="@{/service/update}"
              th:object="${service}" method="post">
            <div class="form-group row">
                <div class="col-sm-4">
                    <input type="hidden" class="form-control" id="code" th:field="*{code}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="type_of_service">Tipo:</label>
                <div class="col-sm-4">
                    <select class="form_control" type="text" id="type_of_service" th:field="*{type_of_service}">
                        <option th:each="type_of_service: ${type_of_service}" th:value="${type_of_service}" th:text="${type_of_service}"></option>
                    </select>
                    <div class="error" th:if="${#fields.hasErrors('type_of_service')}" th:errors="*{type_of_service}"></div>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="description">Descripción:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="description" th:field="*{description}" />
                    <div class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="temp">Temporal:</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="FechaReg" th:field="*{FechaReg}" />
                    <div class="error" th:if="${#fields.hasErrors('FechaReg')}" th:errors="*{FechaReg}"></div>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="temp">Temporal:</label>
                <div class="col-sm-4">
                    <input type="checkbox" class="form-control" id="temp" th:field="*{temp}" />
                    <div class="error" th:if="${#fields.hasErrors('temp')}" th:errors="*{temp}"></div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-primary">Modifica Servicio</button>
                    <a href="/service/list"class="btn btn-primary" role="button">Volver</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>