<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Crear Municipio</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <br>
        <h1>Crear Municipio</h1>
        <hr color="blue" size=3>
        <form class="form-horizontal" action="#" th:action="@{/municipality/add}"
              th:object="${municipality}" method="post">
            <div class="form-group row">
                <label class="control-label col-sm-2" for="name">Nombre:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="name" th:field="*{name}" />
                    <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="registrationDate">Temporal:</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="registrationDate" th:field="*{registrationDate}" />
                    <div class="error" th:if="${#fields.hasErrors('registrationDate')}" th:errors="*{registrationDate}"></div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-success">Crear Municipio</button>
                    <a href="/municipality/list"class="btn btn-primary" role="button">Volver</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>