<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Gestionar reservation</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
<h1>Lista de reservation</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Address</th>
        <th>Date</th>
        <th>QR</th>
        <th>Code</th>
        <th>CreationDate</th>
        <th>NifCitizen</th>
        <th>State</th>
        <th>StartTime</th>
        <th>EndTime</th>
        <th>Cols</th>
        <th>Rows</th>
        <th>CodeArea</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation: ${reservation}">
        <td th:text="${reservation.address}"></td>
        <td th:text="${reservation.date}"></td>
        <td th:text="${reservation.qr}"></td>
        <td th:text="${reservation.code}"></td>
        <td th:text="${#temporals.format(reservation.creationDate,'dd/MM/yyyy')}"></td>
        <td th:text="${reservation.nifCitizen}"></td>
        <td th:text="${reservation.state}"></td>
        <td th:text="${reservation.startTime}"></td>
        <td th:text="${reservation.endTime}"></td>
        <td th:text="${reservation.cols}"></td>
        <td th:text="${reservation.row}"></td>
        <td th:text="${reservation.codeArea}"></td>
        <td><a th:href="@{/reservation/update/{code}(code=${reservation.code})}" class="btn btn-warning" role="button">Editar</a>
        </td>
        <td><a th:href="@{/reservation/delete/{code}(code=${reservation.code})}" class="btn btn-danger" role="button">Borrar</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add" class="btn btn-success" role="button">Añadir Reserva</a>
</div>
</body>
</html>
