<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Reservation</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h1>Lista de Reservation</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Address</th>
        <th>Date</th>
        <th>QR</th>
        <th>Code</th>
        <th>CreationDate</th>
        <th>NifCitizen</th>
        <th>State</th>
        <th>StartTime</th>
        <th>EndTime</th>
        <th>Cols</th>
        <th>Rows</th>
        <th>CodeArea</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="Reservation: ${Reservation}">
        <td th:text="${Reservation.address}"></td>
        <td th:text="${Reservation.date}"></td>
        <td th:text="${Reservation.qr}"></td>
        <td th:text="${Reservation.code}"></td>
        <td th:text="${#temporals.format(Reservation.creationDate,'dd/MM/yyyy')}"></td>
        <td th:text="${Reservation.nifCitizen}"></td>
        <td th:text="${Reservation.state}"></td>
        <td th:text="${Reservation.startTime}"></td>
        <td th:text="${Reservation.endTime}"></td>
        <td th:text="${Reservation.cols}"></td>
        <td th:text="${Reservation.row}"></td>
        <td th:text="${Reservation.codeArea}"></td>
        <td><a th:href="@{/Reservation/update/{code}(code=${Reservation.code})}" class="btn btn-warning" role="button">Editar</a>
        </td>
        <td><a th:href="@{/Reservation/delete/{code}(code=${Reservation.code})}" class="btn btn-danger" role="button">Borrar</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add" class="btn btn-success" role="button">Añadir Reserva</a>
</body>
</html>
