<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Realizar reserva en Espacio Natural</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
    <br>
    <h1>Introducir los datos para realizar la Reserva: </h1>
    <hr color="blue" size=3>
    <form class="form-horizontal" action="#" th:action="@{/reservation/porArea}" th:object="${codeArea}" method="post">
        <div class="form-group row">
            <label class="control-label col-sm-2" for="area_code">Área:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="area_code" th:field="*{codeArea}" readonly="readonly">
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="nifCitizen">NIF:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="nifCitizen" th:field="*{nifCitizen}" />
                <div class="error" th:if="${#fields.hasErrors('nifCitizen')}" th:errors="*{nifCitizen}"></div>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="date">Fecha:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="date" th:field="*{date}" />
                <div class="error" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="startTime">Hora de inicio:</label>
            <div class="col-sm-4">
                <input type="time" class="form-control" id="startTime" th:field="*{startTime}" />
                <div class="error" th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></div>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="endTime">Hora de finalización:</label>
            <div class="col-sm-4">
                <input type="time" class="form-control" id="endTime" th:field="*{endTime}" />
                <div class="error" th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></div>
            </div>
        </div>

        <!-- Mostrar Fila + Columna como coordenada unica (Faltaría enviar el valor al controlador al hacer submit) -->

        <!--<div class="form-group row">-->
            <!--<label class="control-label col-sm-2" for="coordenadas">Zona:</label>-->
            <!--<div class="col-sm-4">-->
                <!--<select>-->
                    <!--<div th:if="${#lists.isEmpty(zonas)}">-->
                        <!--<option value="NoDisp">No hay zonas disponibles</option>-->
                    <!--</div>-->
                    <!--<option th:unless="${#lists.isEmpty(zonas)}" th:each="coord:${zonas}" id="coordenadas"-->
                            <!--th:value="${coord}"-->
                            <!--th:text="${coord}">-->
                    <!--</option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-group row">
            <label class="control-label col-sm-2" for="col">Columna:</label>
            <div class="col-sm-4">
                <select>
                <div th:if="${#lists.isEmpty(cols)}">
                    <option value="NoDisp">No quedan disponibles</option>
                </div>
                <option th:unless="${#lists.isEmpty(cols)}" th:each="col:${cols}" id="col"
                        th:value="${col}"
                        th:text="${col}">
                </option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="row">Fila:</label>
            <div class="col-sm-4">
                <select>
                <div th:if="${#lists.isEmpty(rows)}">
                    <option value="NoDisp">No quedan disponibles</option>
                </div>
                <option th:unless="${#lists.isEmpty(rows)}" th:each="row:${rows}" id="row"
                        th:value="${row}"
                        th:text="${row}">
                </option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Crear reserva</button>
                <a href="/naturalArea/listCliente"class="btn btn-primary" role="button">Volver</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>