<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Modificar Reserva</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
    <br>
<h1>Modificar la Reserva </h1>
    <hr color="blue" size=3>
<form action="#" th:action="@{/reservation/update}"
      th:object="${reservation}" method="post">
    <div class="form-group row">
        <label class="control-label col-sm-2" for="address">Dirección:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="address" th:field="*{address}" readonly="readonly" />
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="qr">QR:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="qr" th:field="*{qr}" readonly="readonly"/>
            <div class="error" th:if="${#fields.hasErrors('qr')}" th:errors="*{qr}"></div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4">
            <input type="hidden" class="form-control" id="Code" th:field="*{Code}" readonly="readonly"/>
            <div class="error" th:if="${#fields.hasErrors('Code')}" th:errors="*{Code}"></div>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="creationDate">Confirmada en fecha:</label>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="creationDate" th:field="*{creationDate}" readonly="readonly"/>
            <div class="error" th:if="${#fields.hasErrors('creationDate')}" th:errors="*{creationDate}"></div>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="NifCitizen">NIF :</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="NifCitizen" th:field="*{NifCitizen}" readonly="readonly"/>
            <div class="error" th:if="${#fields.hasErrors('NifCitizen')}" th:errors="*{NifCitizen}"></div>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="State">Estado:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="State" th:field="*{State}" readonly="readonly"/>
            <div class="error" th:if="${#fields.hasErrors('State')}" th:errors="*{State}"></div>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="Date">Fecha de la Reserva:</label>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="Date" th:field="*{Date}"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="startTime">Hora de inicio:</label>
        <div class="col-sm-4">
            <input type="time" class="form-control" id="startTime" th:field="*{startTime}" />
            <div class="error" th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></div>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="endTime">Hora de finalización:</label>
        <div class="col-sm-4">
            <input type="time" class="form-control" id="endTime" th:field="*{endTime}" />
            <div class="error" th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></div>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="zonas">Zona (Columna, Fila):</label>
        <div class="col-sm-4">
            <select id="zonas" th:field="*{codeZone}">
                <div th:if="${#lists.isEmpty(zonas)}">
                    <option value="NoDisp">No quedan disponibles</option>
                </div>
                <option th:unless="${#lists.isEmpty(zonas)}" th:each="zona:${zonas}"
                        th:value="${zona.code}"
                        th:text="${'(' + zona.col + ', ' + zona.row + ')'}">
                </option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4">
            <input type="text" class="form-control" id="area_code" th:field="*{codeArea}" hidden="hidden">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-success">Modificar Espacio Reserva</button>
            <a href="/reservation/list" class="btn btn-primary" role="button">Volver</a>
        </div>
    </div>
</form>
</div>
</body>
</html>