<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Lista Tipos Área</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
    <br>
<h1>Lista de Tipos de Área</h1>
    <hr color="blue" size=3>
<table class="table table-striped">

    <tbody>
    <tr th:each="type: ${type_of_area}">
        <td th:text="${type.type}"></td>
        <td><a th:href="@{/typeArea/delete/{type}(type=${type.type})}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');" role="button">Borrar</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add" class="btn btn-success" role="button">Añadir tipo de área</a>
    <a href="/mainMenu"class="btn btn-primary" role="button">Volver</a>
</div>
</body>
</html>