<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <meta charset="UTF-8" />
    <title>SANA</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
    <br>
    <h1>Gestión de la Aplicación</h1>
    <hr color="blue" size=3>
    <ul class="menuMain">
        <li><a class="btn btn-secondary btn-lg" href="naturalArea/listCliente">Consultar Áreas</a></li>
        <li><a class="btn btn-secondary btn-lg" href="reservation/porController">Gestión de Reservas</a></li>

    </ul>
</div>
</body>
</html>