<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
  <meta charset="UTF-8" />
  <title>SANA</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
        th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
  <div class="m-0 row justify-content-center">
    <div class="col-auto p-5 text-center centro"><div>
  <br>
  <h1>Menu Principal</h1>
  <hr color="blue" size=3>
  <img src="https://parquesnaturales.gva.es/documents/79543610/162618761/logo_parcs.png/e6a7f314-29bb-4253-845b-3b59ca0562e5?t=1457958053699">


  <ul class="menuMain">
    <li><a class="btn btn-secondary btn-lg" href="naturalArea/listCliente">Espacios Naturales</a></li>
    <li><a class="btn btn-secondary btn-lg" href="reservation/porCitizen">Reservas</a></li>
  </ul>
      </div>
      </div>
</div>
</body>
</html>