<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
  <meta charset="UTF-8" />
  <title>EI1027</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
        th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
  <h1>Gestion de la aplicacion</h1>
  <ul class="menuMain">
    <li><a class="btn btn-secondary btn-lg" href="naturalArea/listCliente">Espacios Naturales</a></li>
    <li><a class="btn btn-secondary btn-lg" href="reservation/porCitizen">Reservas</a></li>

  </ul>
</div>
</body>
</html>