<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Crear una Nueva Relacion Servicio Temportal a un Area Natural</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <br>
<h1>Asignar Servicio Temporal a un Espacio Natural</h1>
        <hr color="blue" size=3>
        <form class="form-horizontal" action="#" th:action="@{/resNatAreaSerTem/add}"
              th:object="${resNatAreaSerTem}" method="post">
        <div class="form-group row">
            <label class="control-label col-sm-2" for="code_area">Area:</label>
            <div class="col-sm-4">
                <select class="form_control" type="text" id="code_area" th:field="*{code_area}">
                    <option th:each="area: ${naturalArea}" th:value="${area.codeArea}" th:text="${area.name}"></option>
                </select>
                <div class="error" th:if="${#fields.hasErrors('code_area')}" th:errors="*{code_area}"></div>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="code">Servicio:</label>
            <div class="col-sm-4">
                <select class="form_control" type="text" id="code" th:field="*{code}">
                    <option th:each="ser: ${service}" th:value="${ser.code}" th:text="${ser.description}"></option>
                </select>
                <div class="error" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></div>
            </div>
        </div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="startTime">Fecha Inicio:</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="startTime" th:field="*{startTime}" />
                    <div class="error" th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></div>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="endTime">Fecha Fin:</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="endTime" th:field="*{endTime}" />
                    <div class="error" th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></div>
                </div>
            </div>
            <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-success">Asignar servicio</button>
                <a href="/resNatAreaSerTem/list"class="btn btn-primary" role="button">Volver</a>
            </div>
        </div>
</form>
</div>
</div>
</body>
</html>