<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Gestionar Servicios Temporales asignados</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
<br>
<h1>Lista de Servicios Temporales asignados a cada Área</h1>
    <hr color="blue" size=3>
    <table class="table table-striped">
    <thead>
    <tr>
        <th>Área</th>
        <th>Servicio Temporal</th>
        <th>Fecha inicio</th>
        <th>Fecha Fin</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="resNatAreaSerTem: ${resNatAreaSerTems}">

        <th:block th:each="area: ${naturalArea}">
            <td th:if="${resNatAreaSerTem.code_area == area.codeArea}" th:text="${area.name}"></td>
        </th:block>

        <th:block th:each="ser: ${service}">
            <td th:if="${resNatAreaSerTem.code == ser.code}" th:text="${ser.description}"></td>
        </th:block>

        <td th:text="${resNatAreaSerTem.startTime}"></td>
        <td th:text="${resNatAreaSerTem.endTime}"></td>


        <td><a th:href="@{/resNatAreaSerTem/delete/{codearea}/{code}/{startTime} (codearea=${resNatAreaSerTem.code_area}, code=${resNatAreaSerTem.code}, startTime=$(resNatAreaSer.startTime)}" class="btn btn-danger" onclick="return confirm('¿Estas seguro de que quieres eliminar este elemento?');" role="button">Borrar</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add" class="btn btn-success" role="button">Añadir Servicio a un Área</a>
    <a href="/mainMenu"class="btn btn-primary" role="button">Volver</a>
</div>
</body>
</html>