<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Crear nuevo Citizen</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
<h2>Nou Citizen</h2>
<form action="#" th:action="@{/citizen/add}"
      th:object="${citizen}" method="post">
    <table>
        <tr>
            <td><label>NIF</label></td>
            <td><input type="text" th:field="*{NIF}" /></td>
            <div class="error" th:if="${#fields.hasErrors('NIF')}" th:errors="*{NIF}"></div>
        </tr>
        <tr>
            <td><label>Name</label></td>
            <td><input type="text" th:field="*{name}" /></td>
            <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </tr>
        <tr>
            <td><label>Surname</label></td>
            <td><input type="text" th:field="*{surname}" /></td>
            <div class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
        </tr>
        <tr>
            <td><label>Address</label></td>
            <td><input type="text" th:field="*{Address}" /></td>
            <div class="error" th:if="${#fields.hasErrors('Address')}" th:errors="*{Address}"></div>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" th:field="*{Email}" /></td>
            <div class="error" th:if="${#fields.hasErrors('Email')}" th:errors="*{Email}"></div>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Añadir Citizen" /></td>
        </tr>
    </table>
</form>
</div>
</body>
</html>
