<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Gestionar Ciudadanos</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
    <br>
<h1>Lista de Ciudadanos</h1>
    <hr color="blue" size=3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>NIF</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Dirección</th>
        <th>Email</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="citizen: ${citizen}">
        <td th:text="${citizen.NIF}"></td>
        <td th:text="${citizen.name}"></td>
        <td th:text="${citizen.surname}"></td>
        <td th:text="${citizen.Address}"></td>
        <td th:text="${citizen.Email}"></td>
        <td><a th:href="@{/citizen/delete/{NIF}(NIF=${citizen.NIF})}" class="btn btn-danger" onclick="return confirm('¿Estas seguro de que quieres eliminar este elemento?');" role="button">Borrar</a>
        </td>
    </tr>
    </tbody>
</table>
    <a href="/mainMenu" class="btn btn-primary" role="button">Volver</a>
</div>
</body>
</html>
