<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Crear nou Natural Area</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
<h2>Nuevo Espacio Natural</h2>
<form action="#" th:action="@{/naturalArea/add}"
      th:object="${naturalArea}" method="post">
    <table>
        <tr>
            <td><label>Codigo del Area</label></td>
            <td><input type="text" th:field="*{codeArea}" /></td>
        </tr>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td><label>Dirrecion</label></td>
            <td><input type="text" th:field="*{address}" /></td>
        </tr>
        <tr>
            <td><label>Capacidad Actual</label></td>
            <td><input type="number" th:field="*{currentCapacity}" /></td>
        </tr>
        <tr>
            <td><label>Capacidad Maxima</label></td>
            <td><input type="number" th:field="*{maxCapacity}" /></td>
        </tr>
        <tr>
            <td><label>Descripcion</label></td>
            <td><input type="text" th:field="*{descripcion}" /></td>
        </tr>
        <tr>
            <td><label>Tipo</label></td>
            <td><input type="text" th:field="*{type}" /></td>
        </tr>
        <tr>
            <td><label>Fecha de registro</label></td>
            <td><input type="text" th:field="*{registrationDate}" /></td>
        </tr>
        <tr>
            <td><label>Estado</label></td>
            <td><select class="form_control" type="text" th:field="*{state}">
                <option value="No seleccionat">Selecciona el tipo</option>
                <option value="Abierta">Abierta</option>
                <option value="Cerrada">Cerrada</option>
                <option value="Restringida">Restringida</option>
            </select>
            </td>
        </tr>
        <tr>
            <td><label>Hora de apertura</label></td>
            <td><input type="text" th:field="*{startTime}" /></td>
        </tr>
        <tr>
            <td><label>Hora de cierre</label></td>
            <td><input type="text" th:field="*{endTime}" /></td>
        </tr>
        <tr>
            <td><label>Codigo Municipal</label></td>
            <td><input type="text" th:field="*{munCode}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Añadir Natural Area" /></td>
        </tr>
    </table>
</form>
</div>
</body>
</html>