<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Crear nou Natural Area</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
<h2>Nuevo Espacio Natural</h2>
        <form class="form-horizontal" action="#" th:action="@{/naturalArea/add}"
              th:object="${naturalArea}" method="post">
    <div class="form-group row">
        <label class="control-label col-sm-2" for="code_area">Código de Area:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="code_area" th:field="*{code_area}" />
            <div class="error" th:if="${#fields.hasErrors('code_area')}" th:errors="*{code_area}"></div>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="name">Nombre:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="name" th:field="*{name}" />
            <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="code_area">Dirección:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="address" th:field="*{address}" />
            <div class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="maxCapacity">Capacidad máxima:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="maxCapacity" th:field="*{maxCapacity}" />
            <div class="error" th:if="${#fields.hasErrors('maxCapacity')}" th:errors="*{maxCapacity}"></div>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="descripcion">Descripción:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="descripcion" th:field="*{descripcion}" />
            <div class="error" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="type">Tipo:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="type" th:field="*{type}" />
            <div class="error" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="state">Estado:</label>
        <div class="col-sm-4">
            <select class="form_control" type="text" id="state" th:field="*{state}">
                <option value="No seleccionat">Selecciona el tipo</option>
                <option value="Abierta">Abierta</option>
                <option value="Cerrada">Cerrada</option>
                <option value="Restringida">Restringida</option>
            </select>
            <div class="error" th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></div>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="startTime">Hora de apertura:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="startTime" th:field="*{startTime}" />
            <div class="error" th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></div>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="endTime">Hora de cierre:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="endTime" th:field="*{endTime}" />
            <div class="error" th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></div>
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-2" for="munCode">Código municipal:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="munCode" th:field="*{munCode}" />
            <div class="error" th:if="${#fields.hasErrors('munCode')}" th:errors="*{munCode}"></div>
        </div>
    </div>
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Añadir Espacio Natural</button>
            </div>
        </div>
</form>
</div>
</div>
</body>
</html>