<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Detalles del Espacio Natural</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <br>
        <h1>Detalles del Espacio Natural</h1>
        <hr color="blue" size=3>
        <form class="form-horizontal" action="#" th:action="@{/naturalArea/details}"
              th:object="${naturalArea}" method="post">
            <div class="form-group row">
                <div class="col-sm-4">
                    <input type="hidden" class="form-control" id="codeArea" th:field="*{codeArea}"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <p style="font-size: 200%; margin-bottom: 0;" th:text="*{name}"></p>
                    <p style="font-size: 90%; font-style: italic;" th:text="*{'(Espacio Natural de tipo ' + type_of_area} + ')'"></p>
                </div>
                <div class="col-sm-4 col-sm-offset-8">
                    <th:block th:if="${user_type == 'Citizen'}">
                        <a  th:href="@{/reservation/porArea/{codeArea}(codeArea=${naturalArea.codeArea})}" class="btn btn-success" role="button">Realizar reserva</a>
                        <a href="/naturalArea/listCliente" class="btn btn-primary" role="button">Volver</a>
                    </th:block>
                    <th:block th:unless="${user_type == 'Citizen'}">
                        <a href="/naturalArea/list" class="btn btn-primary" role="button">Volver</a>
                    </th:block>

                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-sm-4">
                    <span>Abierta al publico desde </span><b th:text="*{registrationDate}"></b>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <p style="font-style: italic;" th:text="*{descripcion}"></p>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label class="control-label col-sm-2">Horario:</label>
                <div class="col-sm-4">
                    <span>Abierta desde </span>
                    <b th:text="*{startTime}"></b>
                    <span> hasta </span>
                    <b th:text="*{endTime}"></b>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-2">Estado:</label>
                <div class="col-sm-4">
                    <p th:text="*{state}" readonly="readonly"></p>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-2">Capacidad máxima:</label>
                <div class="col-sm-4">
                    <p th:text="*{maxCapacity}" readonly="readonly"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-2">Dirección:</label>
                <div class="col-sm-4">
                    <p th:text="*{address}" readonly="readonly"></p>
                </div>
            </div>

            <br>
            <br>
            <hr color="blue" size=3>
            <h1>Zonas del Espacio Natural</h1>
            <hr color="blue" size=3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Col</th>
                    <th>Row</th>
                    <th>Capacidad</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="zone: ${zones}">
                    <td th:text="${zone.col}"></td>
                    <td th:text="${zone.row}"></td>
                    <td th:text="${zone.capacity}"></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
</html>