<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Gestionar Natural Area</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
<h1>Lista de Natural Area</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Code_area</th>
        <th>Name</th>
        <th>Address</th>
        <th>current_capacity</th>
        <th>max_capacity</th>
        <th>description</th>
        <th>Type</th>
        <th>Reg_Date</th>
        <th>StartTime</th>
        <th>EndTime</th>
        <th>Mun_code</th>

        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="naturalArea: ${naturalArea}">
        <td th:text="${naturalArea.codeArea}"></td>
        <td th:text="${naturalArea.name}"></td>
        <td th:text="${naturalArea.address}"></td>
        <td th:text="${naturalArea.currentCapacity}"></td>
        <td th:text="${naturalArea.maxCapacity}"></td>
        <td th:text="${naturalArea.descripcion}"></td>
        <td th:text="${naturalArea.name}"></td>
        <td th:text="${naturalArea.registrationDate}"></td>
        <td th:text="${naturalArea.state}"></td>
        <td th:text="${naturalArea.startTime}"></td>
        <td th:text="${naturalArea.endTime}"></td>
        <td th:text="${naturalArea.munCode}"></td>

        <td><a th:href="@{/resNatAreaSer/porArea/{codeArea}(codeArea=${naturalArea.codeArea})}" class="btn btn-primary" role="button">Gestionar Servicios</a>
        </td>
        <td><a th:href="@{/naturalArea/update/{codeArea}(codeArea=${naturalArea.codeArea})}" class="btn btn-warning" role="button">Editar</a>
        </td>
        <td><a th:href="@{/naturalArea/delete/{codeArea}(codeArea=${naturalArea.codeArea})}" class="btn btn-danger" role="button">Borrar</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add" class="btn btn-success" role="button">Añadir Natual Area</a>
    <br>
    <a href="/resNatAreaSer/list" class="btn btn-success" role="button">Añadir Servicios a las Areas Naturales</a>

</div>

</body>
</html>
