<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Gestionar Natural Area</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
<h1>Lista de Areas Naturales</h1>
<table class="table table-striped">
    <thead>
    <tr>

        <th>Nombre</th>
        <th>Direccion</th>
        <th>Descripcion</th>
        <th>Tipo</th>

        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="naturalArea: ${naturalArea}">

        <td th:text="${naturalArea.name}"></td>
        <td th:text="${naturalArea.address}"></td>
        <td th:text="${naturalArea.descripcion}"></td>
        <td th:text="${naturalArea.type_of_area}"></td>

        <td><a th:href="@{/naturalArea/details/{codeArea}(codeArea=${naturalArea.codeArea})}" class="btn btn-warning" role="button">Detalles</a>
        </td>

        <td><a th:href="@{/resNatAreaSer/porArea/{codeArea}(codeArea=${naturalArea.codeArea})}" class="btn btn-warning" role="button">Gestionar servicios</a>
        </td>
        <td><a th:href="@{/naturalArea/update/{codeArea}(codeArea=${naturalArea.codeArea})}" class="btn btn-warning" role="button">Editar</a>
        </td>
        <td><a th:href="@{/naturalArea/delete/{codeArea}(codeArea=${naturalArea.codeArea})}" class="btn btn-danger" role="button">Borrar</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add" class="btn btn-success" role="button">Añadir Natural Area</a>
<a href="/" class="btn btn-primary" role="button">Volver</a>

</div>

</body>
</html>
