<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Gestionar Managers Municipales</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
<div class="container">
    <h2>Nuevo manager</h2>
    <form class="form-horizontal" action="#" th:action="@{/municipalityManager/add}"
          th:object="${municipalityManager}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="NIF">NIF:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="NIF" th:field="*{NIF}" />
                <div class="error" th:if="${#fields.hasErrors('NIF')}" th:errors="*{NIF}"></div>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="code">Código:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="code" th:field="*{code}" />
                <div class="error" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></div>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="munName">Nombre Municipalidad:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="munName" th:field="*{municipalityName}" />
                <div class="error" th:if="${#fields.hasErrors('municipalityName')}" th:errors="*{municipalityName}"></div>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="email" th:field="*{email}"/>
                <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Añadir Manager</button>
            </div>
        </div>

    </form>
</div>
</div>
</body>
</html>