<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Gestionar Managers Municipales</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
    <br>
    <h1>Lista de Managers Municipales</h1>
    <hr color="blue" size=3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>NIF</th>
            <th>Nombre</th>
            <th>Nombre Municipalidad</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="municipalityManager: ${municipalityManager}">
            <td th:text="${municipalityManager.NIF}"></td>
            <td th:text="${municipalityManager.name}"></td>
            <td th:text="${municipalityManager.municipalityName}"></td>
            <td th:text="${{municipalityManager.email}}"></td>
            <td><a th:href="@{/municipalityManager/update/{NIF}(NIF=${municipalityManager.NIF})}" class="btn btn-warning" role="button">Editar</a></td>
            <td><a th:href="@{/municipalityManager/delete/{NIF}(NIF=${municipalityManager.NIF})}" class="btn btn-danger" role="button">Borrar</a></td>
        </tr>
        </tbody>
    </table>
    <a href="add" class="btn btn-success" role="button">Añadir manager</a>
    <a href="/mainMenu" class="btn btn-primary" role="button">Volver</a>
</div>
</body>
</html>