<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Modificar Managers Municipales</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
<div class="container">
    <br>
    <h1>Modificar Manager</h1>
    <hr color="blue" size=3>
    <form class="form-horizontal" action="#" th:action="@{/municipalityManager/update}"
          th:object="${municipalityManager}" method="post">

        <div class="form-group row">
            <div class="col-sm-4">
                <input type="hidden" class="form-control" id="NIF" th:field="*{NIF}" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-4">
                <input type="hidden" class="form-control" id="code" th:field="*{code}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="name">Nombre:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="name" th:field="*{name}" />
                <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="password">Password:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="password" th:field="*{password}" />
                <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="munName">Nombre Municipalidad:</label>
            <div class="col-sm-4">
                <select id ="munName">
                    <div th:if="${#lists.isEmpty(municipiosDisponibles)}">
                        <option value="NoDisp">No hay municipios registrados</option>
                    </div>
                    <option th:unless="${#lists.isEmpty(municipiosDisponibles)}" th:each="municipality:${municipiosDisponibles}"
                            th:value="${municipality.name}"
                            th:text="${municipality.name}">
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="email" th:field="*{email}"/>
                <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-success">Editar manager</button>
                <a href="/municipalityManager/list" class="btn btn-primary" role="button">Volver</a>
            </div>
        </div>

    </form>
</div>
</div>
</body>
</html>