/* Estilo aplicado al cuerpo de la pagina */
body {
   font-family: Helvetica, Arial, sans-serif;
   background-color: white;
}


/* Cabecera de nivel 1 */
h1 {
    font-family: 'Oswald';font-size: 28px; }
    font-size: x-large;
    color: black;
}



/* Cabecera de nivel 2 */
h2 {
    font-size: large;
    color: black;
}

/* Clase CSS error */
.error {
     color: red;
     font-size:80%
}

/* Clase CSS para atributos erroneos */
.needcorrection {
     color: red;
     background-color:yellow;
}

/* usuario logueado */
.loggeduser {
	color: gray;
	text-align: right;
    margin-right: 10pt;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.vl {
  border-left: 6px solid black;
  height: 500px;
}

.tab { margin-left: 20px; }

/*Para los botones del menu principal*/
ul.menuMain{
    list-style: none;
    line-height: 150%;
}

/*añadida mas separacion entre los elementos de las listas ordenadas*/
li{
    margin-top: 10px;
    border:1px black;
}


li:first-child {
    margin-top:0;
}

/* usuario no logueado */
.unloggeduser {
    font-size: large;
	color: red;
}



/*CAJA DE LOGIN*/
.centro div{
    background-color: #228B22;
    color:white;
    padding:25px 25px 25px 25px;
    margin-top:80px;
    border: solid 3px;
    border-radius: 10px 10px 10px 10px;
}

.centro:first-child
{
    margin-top: 0px;
}

.centro ul {
	padding:0;
}

.centro .btn-secondary {
	width:250px;
    color: #eeeeee;
    background-color: #111111;
    border-color: #6c757d;
}

.centro .btn-secondary:hover {
    background-color: #777777;
    border-color: #6c757d;
}



/*Para los botones del menu principal*/
ul.menuMain{
    list-style: none;
    line-height: 150%;
}

/*añadida mas separacion entre los elementos de las listas ordenadas*/
li{
    margin-top: 10px;
    border:1px black;
}

li:first-child {
    margin-top:0;
}



/*pie siempre fijo*/
footer{position:fixed;
   left:0px;
   bottom:0px;
   height:75px;
   width:100%;


footer p{margin-left:60px;margin-right:60px;color:black;}