/* Estilo aplicado al cuerpo de la pagina */
body {
   font-family: Helvetica, Arial, sans-serif;
   background-color: white;
}

/* Cabecera de nivel 1 */
h1 {
    font-size: x-large;
    color: black;
}

/* Cabecera de nivel 2 */
h2 {
    font-size: large;
    color: black;
}

/* Clase CSS error */
.error {
     color: red;
     font-size:80%
}

/* Clase CSS para atributos erroneos */
.needcorrection {
     color: red;
     background-color:yellow;
}

/* usuario logueago */
.loggeduser {
	color: gray;
	text-align: right;
margin-right: 10pt;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.vl {
  border-left: 6px solid black;
  height: 500px;
}

.tab { margin-left: 20px; }