<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Gestionar Servicios asignados</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="'Lista de Servicios asignados al area ' +${codarea.code_area}"></h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>CodeArea</th>
            <th>Code</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="resNatAreaSer: ${resNatAreaSersPA}">
            <td th:text="${resNatAreaSer.code_area}"></td>
            <td th:text="${resNatAreaSer.code}"></td>
            <td th:text="${resNatAreaSer.startTime}"></td>
            <td th:text="${resNatAreaSer.endTime}"></td>
            <td></td>
            <td><a th:href="@{/resNatAreaSer/delete/{code_area}/{code} (code_area=${resNatAreaSer.code_area}, code=${resNatAreaSer.code})}" class="btn btn-danger" role="button">Borrar</a>
            </td>
        </tr>
        <tr>
            <form action="#" th:action="@{/resNatAreaSer/porArea}"
                  th:object="${codarea}" method="post">

                <td th:text="${codarea.code_area}">
                    <input type="text" th:field="*{code_area}" />
                </td>
                <td>
                    <select id ="code" th:field ="*{code}">
                        <div th:if="${#lists.isEmpty(services)}">
                            <option value="NoDisp">No hay disponibles</option>
                        </div>
                        <option th:unless="${#lists.isEmpty(services)}" th:each="code:${services}"
                                th:value="${code}"
                                th:text="${code}">
                        </option>
                    </select>
                    <div class="error" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></div>
                </td>

                <td>
                    <input type="date" class="form-control" id="startTime" th:field="*{startTime}" />
                    <div class="error" th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></div>
                </td>
                <td>
                    <input type="date" class="form-control" id="endTime" th:field="*{endTime}" />
                    <div class="error" th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></div>
                </td>
                <td>
                    <input type="text" hidden="hidden" id="code_area" th:field="*{code_area}" />
                </td>
                <td>
                    <button type="submit" class="btn btn-success">Añadir</button>
                </td>

            </form>
        </tr>
        </tbody>
    </table>
    <form>
        <a href="/naturalArea/list" class="btn btn-primary" th:align="left">Volver</a>
    </form>
</div>
</body>
</html>