<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Gestionar Servicios asignados</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
    <br>
    <h1>Lista de Servicios asignados al area</h1>
    <hr color="blue" size=3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Área</th>
            <th>Servicio</th>
            <th>Fecha inicio</th>
            <th>Fecha final</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="resNatAreaSer: ${resNatAreaSersPA}">

            <th:block th:each="area: ${naturalArea}">
                <td th:if="${resNatAreaSer.code_area == area.codeArea}" th:text="${area.name}"></td>
            </th:block>

            <th:block th:each="serv: ${serviceList}">
                <td th:if="${resNatAreaSer.code == serv.code}" th:text="${serv.description}"></td>
            </th:block>
            <td th:text="${resNatAreaSer.startTime}"></td>
            <td th:text="${resNatAreaSer.endTime}"></td>
            <td><a th:href="@{/resNatAreaSer/delete/{code_area}/{code}/{start_time}/{end_time} (code_area=${resNatAreaSer.code_area}, code=${resNatAreaSer.code}, start_time=${resNatAreaSer.startTime}, end_time=${resNatAreaSer.endTime})}" class="btn btn-danger" role="button">Borrar</a>
            </td>
        </tr>
        <tr>
            <form action="#" th:action="@{/resNatAreaSer/porArea}"
                  th:object="${codarea}" method="post">



                <th:block th:each="area: ${naturalArea}">
                    <td th:if="${codarea.code_area == area.codeArea}" th:text="${area.name}"><input type="text" th:field="*{code_area}" /></td>
                </th:block>

                <td>
                    <select id ="code" th:field ="*{code}">
                        <div th:if="${#lists.isEmpty(serviceList)}">
                            <option value="NoDisp">No hay disponibles</option>
                        </div>
                        <option th:unless="${#lists.isEmpty(serviceList)}" th:each="serv:${serviceList}"
                                th:value="${serv.code}"
                                th:text="${serv.description}">
                        </option>
                    </select>
                    <div class="error" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></div>
                </td>

                <td>
                    <input type="date" class="form-control" id="startTime" th:field="*{startTime}" />
                    <div class="error" th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></div>
                </td>
                <td>
                    <input type="date" class="form-control" id="endTime" th:field="*{endTime}" />
                    <div class="error" th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></div>
                </td>
                <td>
                    <input type="text" hidden="hidden" id="code_area" th:field="*{code_area}" />
                </td>
                <td>
                    <button type="submit" class="btn btn-success">Añadir</button>
                </td>

            </form>
        </tr>
        </tbody>
    </table>
    <a href="/solicitud/add" class="btn btn-primary" role="button">Solicitar Servicio</a>
    <p>Si no existe un tipo de servicio que necesites, puedes solicitarlo</p>

    <br>
    <form>
        <a href="/naturalArea/list" class="btn btn-primary" th:align="left">Volver</a>
    </form>
</div>
</body>
</html>