<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <meta charset="UTF-8" />
    <title>SANA</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
    <br>
<h1>Gestión de la Aplicación</h1>
    <hr color="blue" size=3>
<ul>
    <li><a href="citizen/list">Gestión de Citizen</a></li>
    <li><a href="controller/list">Gestión de Controllers</a></li>
    <li><a href="municipality/list">Gestión de Municipios</a></li>
    <li><a href="municipalityManager/list">Gestión de Managers Municipales</a></li>
    <li><a href="environmentalManager/list"> Gestion del Manager de Medio Ambiente</a></li>
    <li><a href="zone/list">Gestión de Zonas</a></li>
    <li><a href="service/list">Gestión de Servicios</a></li>
    <li><a href="typeService/list">Gestión de Tipos de servicios</a></li>
    <li><a href="reservation/list">Gestión de Reservas</a></li>
    <li><a href="naturalArea/list">Gestión de Áreas Naturales</a></li>
    <li><a href="typeArea/list">Gestión de Tipos de Áreas Naturales</a></li>
    <li><a href="resNatAreaSer/list">Gestión de Servicios de las Áreas Naturales</a></li>
    <li><a href="user/list">Lista de usuarios</a></li>
    <li><a href="naturalArea/listCliente">Lista espacios naturales interfaz cliente</a></li>
</ul>
</div>
</body>
</html>

