<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
  <title>Crear nova Zona</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
        th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
<h2>Nueva Zona</h2>
<form action="#" th:action="@{/zone/add}"
      th:object="${zone}" method="post">
  <table>
    <tr>
      <td><label>Columna</label></td>
      <td><input type="number" th:field="*{col}" /></td>
    </tr>
    <tr>
      <td><label>Fila</label></td>
      <td><input type="number" th:field="*{row}" /></td>
    </tr>
    <tr>
      <td><label>Máxima Capacidad</label></td>
      <td><input type="number" th:field="*{capacity}" /></td>
    </tr>
    <tr>
      <td><label>Código Area</label></td>
      <td><input type="text" th:field="*{areaCode}" /></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Añadir Zona" /></td>
    </tr>
  </table>
</form>
</div>
</body>
</html>