<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Gestionar zonas del espacio natural</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
          th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="'Lista de zonas asignados al area ' +${codeArea.areaCode}"></h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Area</th>
            <th>Col</th>
            <th>Row</th>
            <th>Capacity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="zone: ${zones}">
            <td th:text="${zone.areaCode}"></td>
            <td th:text="${zone.col}"></td>
            <td th:text="${zone.row}"></td>
            <td th:text="${zone.capacity}"></td>
            <td></td>
            <td><a th:href="@{/zone/delete/{col}/{row}/{areaCode} (areaCode=${zone.areaCode}, col=${zone.col}, row=${zone.row})}" class="btn btn-danger" role="button">Borrar</a>
            </td>
        </tr>
        <tr>
            <form action="#" th:action="@{/zone/porArea}"
                  th:object="${codeArea}" method="post">

                <td th:text="${codeArea.areaCode}">
                    <input type="text" th:field="*{areaCode}" />
                </td>

                <td>
                    <input type="number" class="form-control" id="col" th:field="*{col}">
                    <div class="error" th:if="${#fields.hasErrors('col')}" th:errors="*{col}"></div>
                </td>
                <td>
                    <input type="number" class="form-control" id="row" th:field="*{row}" />
                    <div class="error" th:if="${#fields.hasErrors('row')}" th:errors="*{row}"></div>
                </td>
                <td>
                    <input type="number" class="form-control" id="capacity" th:field="*{capacity}" />
                    <div class="error" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"></div>
                </td>
                <td>
                    <input type="text" hidden="hidden" id="areaCode" th:field="*{areaCode}" />
                </td>
                <td>
                    <button type="submit" class="btn btn-success">Añadir</button>
                </td>

            </form>
        </tr>
        </tbody>
    </table>
    <form>
        <a href="/naturalArea/list" class="btn btn-primary" th:align="left">Volver</a>
    </form>
</div>
</body>
</html>