<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Modificar Zona</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Modifica Zona</h2>
<form action="#" th:action="@{/zone/update}"
      th:object="${zone}" method="post">
  <table>
    <tr>
      <td><input type="hidden" th:field="*{areaCode}" /></td>
    </tr>
    <tr>
      <td><input type="hidden" th:field="*{col}" /></td>
    </tr>
    <tr>
      <td><input type="hidden" th:field="*{row}" /></td>
    </tr>
    <tr>
      <td><label>Máxima Capacidad</label></td>
      <td><input type="number" th:field="*{capacity}" /></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Modifica Zona" /></td>
    </tr>
  </table>
</form>
</body>
</html>