<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
  <title>Modificar Zona</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/proyecto.css"
        th:href="@{/css/proyecto.css}"/>
</head>
<body>
<div layout:fragment="content">
  <div class="container">
    <h2>Modificar Zona</h2>
    <form class="form-horizontal" action="#" th:action="@{/zone/update}"
          th:object="${zone}" method="post">
      <div class="form-group row">
        <div class="col-sm-4">
          <input type="hidden" class="form-control" id="col" th:field="*{col}" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <input type="hidden" class="form-control" id="row" th:field="*{row}" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <input type="hidden" class="form-control" id="areaCode" th:field="*{areaCode}" />
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-2" for="capacity">Capacidad máxima:</label>
        <div class="col-sm-4">
          <input type="number" class="form-control" id="capacity" th:field="*{capacity}" />
          <div class="error" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"></div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-4">
          <button type="submit" class="btn btn-success">Modificar Zona</button>
          <a href="/zone/list"class="btn btn-primary" role="button">Volver</a>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>