<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear nou Controller</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Nou Controller</h2>
<form action="#" th:action="@{/controller/add}"
      th:object="${controller}" method="post">
    <table>
        <tr>
            <td><label>NIF</label></td>
            <td><input type="text" th:field="*{NIF}" /></td>
        </tr>
        <tr>
            <td><label>Name</label></td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td><label>Surname</label></td>
            <td><input type="text" th:field="*{surname}" /></td>
        </tr>
        <tr>
            <td><label>Code area</label></td>
            <td><input type="text" th:field="*{code_area}" /></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Afegeix Controller" /></td>
        </tr>
    </table>
</form>
</body>
</html>
